/*------ import ------*/
    @import url("../../library/core/core.css");
    @import url("../../component/welcome/welcome.css");
/*------ import ------*/
body
{
    direction: ltr;
}
.path
{
    margin-top: 25px;
    margin-bottom: 40px;
}
.path i
{
    margin-left: 111px;
    font-size: 30px;
}
.path h2
{
    display: inline-block;
    text-align: left;
    margin-left: 12px;
    font-size: 20px;
    position: relative;
    bottom: 5px;
}
.container
{
    width: 85%;
    margin: 35px auto;
    text-align: center;
}
.item{
    width: 22%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    min-height: 155px;
    border-radius: 5px;
    color: #57606f;
    display: inline-block;
    margin-right: 3%;
    margin-bottom: 35px;
}
.item:nth-child(4n)
{
    margin-right: 0;
}
.item header
{
    height: 40px;
    direction: rtl;
    box-sizing: border-box;
    padding: 0 30px;
    text-align: right;
}
.item header i
{
    font-size: 20px;
    line-height: 40px;
}
.item header i.fa-trash
{
    color: #d90505;
}
.item header i.fa-edit
{
    color: #046ddc;
}
.item main
{
    text-align: center;

}
.item main a
{
    color: inherit;
    text-decoration: none;
    line-height: 2;
}
.item main i
{
    font-size: 50px;
    margin-bottom: 20px;
}
.item footer
{
    height: 40px;
    line-height: 40px;
    margin-top: 30px;
    text-indent: 40px;
    border-top: 1px solid #efefef;
    text-align: left;
}
.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 10px 0px;
    padding:12px;

}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
}
.my-notify-info, .my-notify-success, .my-notify-warning, .my-notify-error {
    color: #D8000C;
    background-color: #FFD2D2;
    font-size: 25px;
    text-align: center;
    font-family: "iranSansNormal";
    padding: 25px;
    direction: rtl;
}
.my-notify-info:before, .my-notify-success:before, .my-notify-warning:before, .my-notify-error:before {
    font-family:FontAwesome;
    font-style:normal;
    font-weight:400;
    speak:none;
    display:inline-block;
    text-decoration:inherit;
    width:1em;
    margin-right:.2em;
    text-align:center;
    font-variant:normal;
    text-transform:none;
    line-height:1em;
    margin-left:.2em;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.my-notify-info:before {
    content:"\f05a";
}
.my-notify-success:before {
    content:'\f00c';
}
.my-notify-warning:before {
    content:'\f071';
}
.my-notify-error:before {
    content:'\f057';
}
.my-notify-info {
    color: #00529B;
    background-color: #BDE5F8;
}
.my-notify-success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.my-notify-warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.my-notify-error {
    color: #D8000C;
    background-color: #FFD2D2;
}
textarea{
    width: 90%;
    height: 400px;
}
img{
    width: 100%;
    height: 100%;
}